[submodule "elisp/magit"]
	path = elisp/magit
	url = https://github.com/magit/magit.git
[submodule "elisp/clojure-mode"]
	path = elisp/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "elisp/elein"]
	path = elisp/elein
	url = https://github.com/remvee/elein.git
[submodule "elisp/slime"]
	path = elisp/slime
	url = https://github.com/technomancy/slime.git
[submodule "elisp/zenburn"]
	path = elisp/zenburn
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "elisp/zencoding"]
	path = elisp/zencoding
	url = git://github.com/rooney/zencoding.git
[submodule "elisp/ac-slime"]
	path = elisp/ac-slime
	url = https://github.com/purcell/ac-slime.git
[submodule "elisp/auto-complete"]
	path = elisp/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "elisp/org-mode"]
	path = elisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "elisp/paredit"]
	path = elisp/paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule "elisp/haskell-mode"]
	path = elisp/haskell-mode
	url = git://github.com/pheaver/haskell-mode.git
