*.elc
*~
session.*
/project.hist
/ac-comphist.dat
/.org-id-locations
/tramp
/history
/eshell/history
/elpa
/url/cookies
/ido.last
.secrets.el
/projectile-bookmarks.eld
/projects
/straight/build-cache.el
/straight/build/
/straight/modified/
/straight/repos/
/transient/
/var/
/org-clock-save.el
/eln-cache/
/forge-database.sqlite
/eshell/
/workspace/
/.lsp-session-*
org-*
emojis
.cache
/prompts/
